@import "tailwindcss";

@theme inline {
  --color-blue-200: var(--color-blue-200);
  --color-green-300: var(--color-green-300);

  --color-blue-600: var(--color-blue-600);
  --color-blue-900: var(--color-blue-900);
  --color-blue-950: var(--color-blue-950);
}

:root {
  --color-blue-200: hsl(193, 38%, 86%);
  --color-green-300: hsl(150, 100%, 66%);

  /* Colors - Neutral */
  --color-blue-600: hsl(217, 19%, 38%);
  --color-blue-900: hsl(217, 19%, 24%);
  --color-blue-950: hsl(218, 23%, 16%);

  /* Typography */
  --font-family: 'Manrope', sans-serif;
  --font-weight: 800;
  --font-size-quote: 1.75rem;
}

@layer base {
  html {
    font-family: var(--font-family);
    font-weight: var(--font-weight);
  }

  body {
    @apply flex flex-col items-center justify-center bg-blue-950;
    min-height: 100vh;
    min-height: 100dvh;
  }

  p {
    font-size: var(--font-size-quote);
  }
}